a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  outline: none;
}
a:focus,
a::-moz-focus-inner {
  outline: none;
}
ol,
ul,
li,
h1,
h2,
h3,
h4,
h5,
p,
a,
fieldset {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  list-style: none;
  border: 0;
}
img {
  vertical-align: bottom;
}
svg {
  fill: currentColor;
}
button,
input,
select,
textarea {
  background: none;
  border-radius: 0;
  border: none;
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  margin: 0;
  outline: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}
label,
button {
  cursor: pointer;
  border-width: 0;
  padding: 0;
}
html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  line-height: 1.5;
  color: #212121;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}
