// palette
$color-primary: #42a5f5;
$color-secondary: #d81b60;
$color-tertiary: #f57c00;
$color-success: #81c784;
$color-error: #c62828;

// greyscale
$color-white: #fff;
$color-light: #f0f0f0;
$color-muted: #e0e0e0;
$color-grey: #aeaeae;
$color-dark: #212121;
$color-black: #000;
$color-transparent: #0000;
$color-transparent-black: rgba(0, 0, 0, 0.5);
