@mixin _stateExtender($selector, $states) {
  $nextStateIndex: str-index($states, $state-divider);
  $currentState: $states;
  $nextState: null;
  @if $nextStateIndex {
    $currentState: str-slice($states, 0, $nextStateIndex - 1);
    $nextState: str-slice($states, $nextStateIndex + 2);
  }
  &:#{$currentState} {
    @extend #{$selector};
  }
  @if $nextState {
    @include _stateExtender($selector, $nextState);
  }
}

@mixin _extendList($list) {
  @if $list != null {
    @each $selector in $list {
      $selector: build-selector($selector);
      $stateIndex: str-index($selector, $state-divider);
      @if $stateIndex == null {
        @extend #{$selector};
      } @else {
        $states: str-slice($selector, $stateIndex + 2);
        @if str-index($selector, '&') {
          $selector: str-slice($selector, 0, $stateIndex - 2);
          @extend #{$selector};
        } @else {
          $selector: str-slice($selector, 0, $stateIndex - 1);
        }
        @include _stateExtender($selector, $states);
      }
    }
  }
}

@mixin _extendMap($map, $baseExtensions: null) {
  $localExtensions: map-get($map, extend);
  @each $key, $value in $map {
    @if $key != extend {
      &#{if($key == 'base', '', -#{$key})} {
        @if type-of($value) == 'map' {
          @include _extendMap($value, $baseExtensions);
        } @else {
          @include _extendList($value);
          @include _extendList($baseExtensions);
          @include _extendList($localExtensions);
        }
      }
    }
  }
}

@mixin _extend($input, $baseExtensions: null) {
  @if type-of($input) == 'map' {
    @include _extendMap($input, $baseExtensions);
  } @else {
    @include _extendList($input);
  }
}

@mixin extend($selectorOrInput, $input: null, $baseExtensions: null) {
  @if $input == null {
    $input: $selectorOrInput;
    @include _extend($input);
  } @else {
    #{build-selector($selectorOrInput)} {
      @include _extend($input);
    }
  }
}
