@function str-build($strings...) {
  $res: '';
  @each $string in $strings {
    $res: str-insert($res, quote($string), 200);
  }
  @return $res;
}

@function build-selector($selector) {
  @return str-build($selector-type, $selector);
}

@function append-breakpoint($breakpoint, $selector) {
  @return str-build($breakpoint, $breakpoint-divider, $selector);
}

@function append-key($key, $key2) {
  @if $key2 != 'base' {
    $key: str-build($key, $key-divider, $key2);
  }
  @return $key;
}

@function map-flatten($map) {
  $deepFlag: false;
  @each $key, $value in $map {
    @if type-of($value) == 'map' {
      $deepFlag: true;
      $map: map-remove($map, $key);
      @each $dKey, $dValue in $value {
        $dKey: append-key($key, $dKey);
        $map: map-merge(
          $map,
          (
            $dKey: $dValue,
          )
        );
      }
    }
  }
  @if $deepFlag {
    $map: map-flatten($map);
  }
  @return $map;
}

@function map-merge-multiple($maps...) {
  $finalMap: ();
  @each $map in $maps {
    $finalMap: map-merge($finalMap, $map);
  }
  @return $finalMap;
}

@function modify-map-values($map, $prepend: '', $append: '') {
  @each $key, $value in $map {
    $map: map-merge(
      $map,
      (
        $key: #{$prepend}#{$value}#{$append},
      )
    );
  }
  @return $map;
}
