.bg-primary {
  background: $color-primary;
}
.bg-secondary {
  background: $color-secondary;
}
.bg-tertiary {
  background: $color-tertiary;
}
.bg-success {
  background: $color-success;
}
.bg-error {
  background: $color-error;
}
.bg-white {
  background: $color-white;
}
.bg-light {
  background: $color-light;
}
.bg-muted {
  background: $color-muted;
}
.bg-grey {
  background: $color-grey;
}
.bg-dark {
  background: $color-dark;
}
.bg-black {
  background: $color-black;
}
