.border-1 {
  border-style: solid;
  border-width: 1px;
}
.border-2 {
  border-style: solid;
  border-width: 2px;
}
.border-primary {
  border-color: $color-primary;
}
.border-secondary {
  border-color: $color-secondary;
}
.border-tertiary {
  border-color: $color-tertiary;
}
.border-success {
  border-color: $color-success;
}
.border-error {
  border-color: $color-error;
}
.border-white {
  border-color: $color-white;
}
.border-light {
  border-color: $color-light;
}
.border-muted {
  border-color: $color-muted;
}
.border-grey {
  border-color: $color-grey;
}
.border-dark {
  border-color: $color-dark;
}
.border-black {
  border-color: $color-black;
}
