.border-radius-s {
  border-radius: 0.125rem;
}

.border-radius {
  border-radius: 0.25rem;
}

.border-radius-l {
  border-radius: 0.25rem;
}

.border-radius-xl {
  border-radius: 1rem;
}

.border-radius-rounded {
  border-radius: 9999rem;
}
