.color-primary {
  color: $color-primary;
}
.color-secondary {
  color: $color-secondary;
}
.color-tertiary {
  color: $color-tertiary;
}
.color-success {
  color: $color-success;
}
.color-error {
  color: $color-error;
}
.color-white {
  color: $color-white;
}
.color-light {
  color: $color-light;
}
.color-muted {
  color: $color-muted;
}
.color-grey {
  color: $color-grey;
}
.color-dark {
  color: $color-dark;
}
.color-black {
  color: $color-black;
}
