.grid {
  display: grid;
}
.subgrid {
  display: contents;
}

// columns
.gtc-a {
  grid-template-columns: auto;
}
.gtc-a-1 {
  grid-template-columns: auto 1fr;
}
.gtc-1-a {
  grid-template-columns: 1fr auto;
}
.gtc-1 {
  grid-template-columns: 1fr;
}
.gtc-2 {
  grid-template-columns: repeat(2, 1fr);
}
.gtc-3 {
  grid-template-columns: repeat(3, 1fr);
}
.gtc-4 {
  grid-template-columns: repeat(4, 1fr);
}

// columns auto fill/fit
.gtc-fill-100 {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}
.gtc-fill-200 {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.gtc-fill-300 {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.gtc-fill-400 {
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}
.gtc-fit-100 {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.gtc-fit-200 {
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.gtc-fit-300 {
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.gtc-fit-400 {
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

// rows
.gtr-a {
  grid-template-rows: auto;
}
.gtr-1 {
  grid-template-rows: 1fr;
}
.gtr-2 {
  grid-template-rows: repeat(2, 1fr);
}
.gtr-3 {
  grid-template-rows: repeat(3, 1fr);
}
.gtr-4 {
  grid-template-rows: repeat(4, 1fr);
}
.gtr-auto {
  grid-auto-rows: max-content;
}
.gtr-auto-min {
  grid-auto-rows: min-content;
}
