$button-colors: (
  extend: transition-quick transition-bg fillet-small shadow-medium,
  blue: bg-blue bg-blue-500--hover bg-blue-600--active color-white,
  red: bg-red bg-red-600--hover bg-red-700--active color-white,
);

$button-sizes: (
  extend: text uppercase letter-spacing-1,
  auto: ph-2 pv-1 text-medium,
  tiny: w-100 pv-1 text-medium,
  small: w-150 pv-2,
  medium: w-250 pv-2p5,
  large: w-350 pv-3,
);

@include extend(button, $button-colors);
@include extend(button, $button-sizes);
