$form-styles: (
  wrap: bg-black-transparent-66 pv-3 ph-5 fillet flex flex-column flex-center
    color-white,
  button: button-purple mh-auto mt-2 pv-0p5 ph-2 s_w-200 text-large uppercase
    letter-spacing-1 fillet,
  text-link: mt-1 text-medium,
  input: w-1-1 color-dark bg-white p-0p5 text,
  input-next: mt-1,
  alert: bg-red-900 text-center text pv-1 ph-1 mt-2p5,
);

.form {
  @include extendMap($form-styles);
}
