@mixin _genClasses($plainSelector, $props, $flatMap) {
  @each $key, $val in $flatMap {
    $selector: buildSelector(appendKey($plainSelector, $key));
    #{$selector} {
      @each $property in $props {
        #{$property}: $val;
      }
    }
  }
}

@mixin generate($plainSelector, $props, $keyMap) {
  $flatMap: map-flatten($keyMap);
  @include _genClasses($plainSelector, $props, $flatMap);
}

@mixin generateProps($plainSelector, $propKeyValMap) {
  @each $prop, $map in $propKeyValMap {
    @include generate($plainSelector, $prop, $map);
  }
}

@mixin generateSelectors($selectorPropValMap) {
  @each $selector, $propValueMap in $selectorPropValMap {
    @each $prop, $val in $propValueMap {
      @include _genClasses(
        $selector,
        $prop,
        (
          base: $val,
        )
      );
    }
  }
}

// @include _generateClass($keySelector, $props, $val);
// @include _genState($keySelector, hover, $props, $val, $options);
// @include _genState($keySelector, valid, $props, $val, $options);
// @include _genState($keySelector, invalid, $props, $val, $options);
// @include _genState($keySelector, focus, $props, $val, $options);
// @include _genState($keySelector, active, $props, $val, $options);
// @include _genState($keySelector, disabled, $props, $val, $options);
