@mixin _genClasses($plainSelector, $props, $flatMap, $options: null) {
  @each $key, $val in $flatMap {
    $selector: buildSelector(appendKey($plainSelector, $key));
    #{$selector} {
      @each $property in $props {
        #{$property}: $val;
      }
    }
  }
}

@mixin _generateBreakpoints($plainSelector, $props, $flatMap, $options: null) {
  @if index($options, breakpoints) {
    @each $breakpoint, $size in $breakpoint-map {
      $breakpointSelector: prependBreakpoint($plainSelector, $breakpoint);
      @media (min-width: $size) {
        @include _genClasses($breakpointSelector, $props, $flatMap, $options);
      }
    }
  }
}

@mixin generate($plainSelector, $props, $keyMap, $options: null) {
  $flatMap: map-flatten($keyMap);
  @include _genClasses($plainSelector, $props, $flatMap, $options);
  @include _generateBreakpoints($plainSelector, $props, $flatMap, $options);
}

@mixin generateProps($plainSelector, $propKeyValMap, $options: null) {
  @each $prop, $map in $propKeyValMap {
    @include generate($plainSelector, $prop, $map, $options);
  }
}

@mixin generateSelectors($selectorPropValMap, $options: null) {
  @each $selector, $propValueMap in $selectorPropValMap {
    @each $prop, $val in $propValueMap {
      @include _genClasses(
        $selector,
        $prop,
        (
          base: $val,
        ),
        $options
      );
      @include _generateBreakpoints(
        $selector,
        $prop,
        (
          base: $val,
        ),
        $options
      );
    }
  }
}
