@function str-build($strings...) {
  $res: '';
  @each $string in $strings {
    $res: str-insert($res, quote($string), 200);
  }
  @return $res;
}

@function buildSelector($selector) {
  @return str-build($selector-type, $selector);
}

@function appendKey($key, $key2) {
  @if $key2 != 'base' {
    $key: str-build($key, $selector-key-divider, $key2);
  }
  @return $key;
}

@function prependBreakpoint($selector, $breakpoint) {
  @return str-build($breakpoint, $selector-breakpoint-divider, $selector);
}

@function appendState($selector, $state) {
  @return str-build($selector, $selector-state-divider, $state, ':', $state);
}

@function map-flatten($map) {
  $deepFlag: false;
  @each $key, $value in $map {
    @if type-of($value) == 'map' {
      $deepFlag: true;
      $map: map-remove($map, $key);
      @each $dKey, $dValue in $value {
        $dKey: appendKey($key, $dKey);
        $map: map-merge(
          $map,
          (
            $dKey: $dValue,
          )
        );
      }
    }
  }
  @if $deepFlag {
    $map: map-flatten($map);
  }
  @return $map;
}

@function map-merge-multiple($maps...) {
  $finalMap: ();
  @each $map in $maps {
    $finalMap: map-merge($finalMap, $map);
  }
  @return $finalMap;
}
