@mixin _generateClass($plainSelector, $properties, $value) {
  #{buildSelector($plainSelector)} {
    @each $property in $properties {
      #{$property}: $value;
    }
  }
}

@mixin _generateState(
  $plainSelector,
  $state,
  $properties,
  $value,
  $options: null
) {
  @if index($options, $state) {
    @include _generateClass(
      appendState($plainSelector, $state),
      $properties,
      $value
    );
  }
}

@mixin _generateClasses($plainSelector, $properties, $flatMap, $options: null) {
  @each $key, $value in $flatMap {
    $keySelector: appendKey($plainSelector, $key);
    @include _generateClass($keySelector, $properties, $value);
    @include _generateState($keySelector, hover, $properties, $value, $options);
    @include _generateState($keySelector, focus, $properties, $value, $options);
    @include _generateState(
      $keySelector,
      active,
      $properties,
      $value,
      $options
    );
    @include _generateState(
      $keySelector,
      disabled,
      $properties,
      $value,
      $options
    );
  }
}

@mixin _generateBreakpoints(
  $plainSelector,
  $properties,
  $flatMap,
  $options: null
) {
  @if index($options, breakpoints) {
    @each $breakpoint, $size in $breakpoint-map {
      $breakpointSelector: prependBreakpoint($plainSelector, $breakpoint);
      @media (min-width: $size) {
        @include _generateClasses(
          $breakpointSelector,
          $properties,
          $flatMap,
          $options
        );
      }
    }
  }
}

@mixin generate($plainSelector, $properties, $keyMap, $options: null) {
  $flatMap: map-flatten($keyMap);
  @include _generateClasses($plainSelector, $properties, $flatMap, $options);
  @include _generateBreakpoints(
    $plainSelector,
    $properties,
    $flatMap,
    $options
  );
}

@mixin generateProps($plainSelector, $propKeyValMap, $options: null) {
  @each $prop, $map in $propKeyValMap {
    @include generate($plainSelector, $prop, $map, $options);
  }
}

@mixin generateSelectors($selectorPropValMap, $options: null) {
  @each $selector, $propValueMap in $selectorPropValMap {
    @each $prop, $value in $propValueMap {
      @include _generateClasses(
        $selector,
        $prop,
        (
          base: $value,
        ),
        $options
      );
      @include _generateBreakpoints(
        $selector,
        $prop,
        (
          base: $value,
        ),
        $options
      );
    }
  }
}
