@mixin _generateClass($plainSelector, $props, $val) {
  #{buildSelector($plainSelector)} {
    @each $property in $props {
      #{$property}: $val;
    }
  }
}

@mixin _genState($plainSelector, $state, $props, $val, $options: null) {
  @if index($options, $state) {
    @include _generateClass(appendState($plainSelector, $state), $props, $val);
  }
}

@mixin _genClasses($plainSelector, $props, $flatMap, $options: null) {
  @each $key, $val in $flatMap {
    $keySelector: appendKey($plainSelector, $key);
    @include _generateClass($keySelector, $props, $val);
    @include _genState($keySelector, hover, $props, $val, $options);
    @include _genState($keySelector, valid, $props, $val, $options);
    @include _genState($keySelector, invalid, $props, $val, $options);
    @include _genState($keySelector, focus, $props, $val, $options);
    @include _genState($keySelector, active, $props, $val, $options);
    @include _genState($keySelector, disabled, $props, $val, $options);
  }
}

@mixin _generateBreakpoints($plainSelector, $props, $flatMap, $options: null) {
  @if index($options, breakpoints) {
    @each $breakpoint, $size in $breakpoint-map {
      $breakpointSelector: prependBreakpoint($plainSelector, $breakpoint);
      @media (min-width: $size) {
        @include _genClasses($breakpointSelector, $props, $flatMap, $options);
      }
    }
  }
}

@mixin generate($plainSelector, $props, $keyMap, $options: null) {
  $flatMap: map-flatten($keyMap);
  @include _genClasses($plainSelector, $props, $flatMap, $options);
  @include _generateBreakpoints($plainSelector, $props, $flatMap, $options);
}

@mixin generateProps($plainSelector, $propKeyValMap, $options: null) {
  @each $prop, $map in $propKeyValMap {
    @include generate($plainSelector, $prop, $map, $options);
  }
}

@mixin generateSelectors($selectorPropValMap, $options: null) {
  @each $selector, $propValueMap in $selectorPropValMap {
    @each $prop, $val in $propValueMap {
      @include _genClasses(
        $selector,
        $prop,
        (
          base: $val,
        ),
        $options
      );
      @include _generateBreakpoints(
        $selector,
        $prop,
        (
          base: $val,
        ),
        $options
      );
    }
  }
}
