@import './color.mapper.scss';

// valid values:
// 1. material colors + white, light, dark, black
// 2. any of the above with '-t##' suffix where ## represents transparency percent

$color-map: colorMapper(
  (
    white: 'white',
    light: light,
    silver: grey-200,
    muted: grey-300,
    muted-dark: grey-400,
    muted-darker: grey-500,
    grey: grey-600,
    grey-dark: grey-700,
    grey-darker: grey-800,
    dark: dark,
    black: 'black',
    black-t50: black-t50,
    success: green-300,
    warning: orange-700,
    danger: red-800,
    primary: blue-400,
    primary-dark: blue-500,
    primary-darker: blue-600,
    secondary: pink-400,
    secondary-dark: pink-500,
    secondary-darker: pink-600,
  )
);
