$button-colors: (
  // extend: transition transition-bg,
    // purple: bg-purple bg-purple-500--hover bg-purple-600--active
    //   bg-purple-600--focus color-white,
    // orange: bg-orange-300 bg-orange--hover bg-orange-500--active
    //   bg-orange-500--focus color-white,
);

// @include extend(button, $button-colors);
