$border-prop-map: (
  border: (
    0: 0px solid,
    1: 1px solid,
    2: 2px solid,
    3: 3px solid,
    4: 4px solid,
    5: 5px solid,
  ),
  border-color: $border-color-map,
);

@include generateProps(
  border,
  $border-prop-map,
  breakpoints active hover focus valid invalid
);
