$display-selector-map: (
  block: (
    display: block,
  ),
  inline: (
    display: inline,
  ),
  inline-block: (
    display: inline-block,
  ),
  display-none: (
    display: none,
  ),
  display-initial: (
    display: initial,
  ),
  box: (
    box-sizing: border-box,
  ),
);

@include generateSelectors($display-selector-map, breakpoints);
