$display-selector-map: (
  block: (
    display: block,
  ),
  inline: (
    display: inline,
  ),
  inline-block: (
    display: inline-block,
  ),
  none: (
    display: none,
  ),
  initial: (
    display: initial,
  ),
  contents: (
    display: contents,
  ),
  box: (
    box-sizing: border-box,
  ),
  content: (
    box-sizing: content-box,
  ),
);

@include generateSelectors($display-selector-map);
