$grid-prop-map: (
  display: (
    base: grid,
  ),
  grid-gap: (
    gap: (
      'p5': 0.5rem,
      '1': 1rem,
      '2': 2rem,
      '3': 3rem,
    ),
  ),
);

$grid-columns-prop-map: (
  grid-template-columns: (
    'a': auto,
    '1': 1fr,
    '2': repeat(2, 1fr),
    '3': repeat(3, 1fr),
    '4': repeat(4, 1fr),
    'a-1': auto 1fr,
    '1-a': 1fr auto,
    fill: (
      '100': repeat(auto-fill, minmax(100px, 1fr)),
      '200': repeat(auto-fill, minmax(200px, 1fr)),
      '300': repeat(auto-fill, minmax(300px, 1fr)),
      '400': repeat(auto-fill, minmax(400px, 1fr)),
      '500': repeat(auto-fill, minmax(500px, 1fr)),
    ),
    fit: (
      '100': repeat(auto-fit, minmax(100px, 1fr)),
      '200': repeat(auto-fit, minmax(200px, 1fr)),
      '300': repeat(auto-fit, minmax(300px, 1fr)),
      '400': repeat(auto-fit, minmax(400px, 1fr)),
      '500': repeat(auto-fit, minmax(500px, 1fr)),
    ),
  ),
);

$grid-rows-prop-map: (
  grid-template-rows: (
    'a': auto,
    '1': 1fr,
    '2': repeat(2, 1fr),
    '3': repeat(3, 1fr),
    '4': repeat(4, 1fr),
  ),
  grid-auto-rows: (
    auto: (
      base: max-content,
      max-content: max-content,
      min-content: min-content,
    ),
  ),
);

@include generateProps(grid, $grid-prop-map);
@include generateProps(gtc, $grid-columns-prop-map);
@include generateProps(gtr, $grid-rows-prop-map);
