$height-map: (
  auto: auto,
  viewport: 100vh,
  '1-1': 100%,
  '1': 1px,
  '2': 2px,
  '5': 5px,
  '10': 10px,
  '50': 50px,
  '100': 100px,
  '150': 150px,
  '200': 200px,
  '250': 250px,
  '300': 300px,
  '400': 400px,
  '500': 500px,
  '600': 600px,
  '700': 700px,
  '800': 800px,
  '900': 900px,
  '1000': 1000px,
);

@include generate(h, height, $height-map);
@include generate(mh, min-height, $height-map);
