$position-prop-map: (
  position: (
    absolute: absolute,
    relative: relative,
    fixed: fixed,
    static: static,
  ),
  top: (
    top: 0,
    center: 50%,
  ),
  left: (
    left: 0,
    center: 50%,
  ),
  right: (
    right: 0,
  ),
  bot: (
    bottom: 0,
  ),
  transform: (
    center: translate(-50%, -50%),
  ),
);

@include generateProps(position, $position-prop-map);
