$text-selector-map: (
  bold: (
    font-weight: bold,
  ),
  italic: (
    font-style: italic,
  ),
  capitalize: (
    text-transform: capitalize,
  ),
  uppercase: (
    text-transform: uppercase,
  ),
  lowercase: (
    text-transform: lowercase,
  ),
  underline: (
    text-decoration: underline,
  ),
);

$text-prop-map: (
  font-size: (
    xs: 0.625rem,
    s: 0.75rem,
    base: 0.875rem,
    l: 1rem,
    xl: 1.25rem,
  ),
  text-align: (
    left: left,
    right: right,
    center: center,
  ),
  text-shadow: (
    shadow: 1px 1px #ddd,
    shadow-dark: 1px 1px #212121,
  ),
);

$text-map-title: (
  xs: 1.5rem,
  s: 2rem,
  base: 2.5rem,
  l: 3rem,
  xl: 3.5rem,
  xxl: 4rem,
);

@include generate(title, font-size, $text-map-title);
@include generateProps(text, $text-prop-map);
@include generateSelectors($text-selector-map);
