$text-selector-map: (
  bold: (
    font-weight: bold,
  ),
  italic: (
    font-style: italic,
  ),
  capitalize: (
    text-transform: capitalize,
  ),
  uppercase: (
    text-transform: uppercase,
  ),
);

$text-prop-map: (
  font-size: (
    meta: 0.625rem,
    tiny: 0.75rem,
    small: 0.875rem,
    base: 1rem,
    large: 1.25rem,
  ),
  text-align: (
    left: left,
    right: right,
    center: center,
  ),
  text-shadow: (
    shadow: 1px 1px #212121,
  ),
);

$text-map-title: (
  tiny: 1.5rem,
  small: 2rem,
  base: 2.5rem,
  large: 3rem,
  xlarge: 3.5rem,
  xxlarge: 4rem,
);

@include generate(title, font-size, $text-map-title);
@include generateProps(text, $text-prop-map);
@include generateSelectors($text-selector-map);
