$transition-map: (
  transition-duration: (
    base: 0.2s,
    fast: 0.05s,
    slow: 0.33s,
    xslow: 0.66s,
  ),
  transition-timing-function: (
    base: ease-in-out,
  ),
  transition-property: (
    base: all,
    color: background color fill box-shadow opacity border-color,
    size: width height,
    position: position top bottom left right margin padding grid-area,
  ),
);

@include generateProps(transition, $transition-map);
