$width-values: (
  auto: auto,
  viewport: 100vw,
  '1-1': 100%,
  '1-2': 50%,
  '1-3': unquote('calc(100% * 1 / 3.001)'),
  '1-4': 25%,
  '1-5': 20%,
  '1-6': unquote('calc(100% * 1 / 6.001)'),
  '2-3': unquote('calc(100% * 2 / 3.001)'),
  '2-5': 40%,
  '3-4': 75%,
  '3-5': 60%,
  '4-5': 60%,
  '5-6': unquote('calc(100% * 5 / 6.001)'),
  0: 0px,
  25: 25px,
  50: 50px,
  75: 75px,
  100: 100px,
  150: 150px,
  200: 200px,
  250: 250px,
  300: 300px,
  350: 350px,
  400: 400px,
  450: 450px,
  500: 500px,
  550: 550px,
  600: 600px,
  650: 650px,
  700: 700px,
  750: 750px,
  1000: 1000px,
  1200: 1200px,
  1400: 1400px,
  1600: 1600px,
);

$min-width-values: (
  '1-1': 100%,
  0: 0px,
  50: 50px,
  100: 100px,
  150: 150px,
  200: 200px,
  250: 250px,
  300: 300px,
  350: 350px,
  400: 400px,
  450: 450px,
  500: 500px,
  550: 550px,
  600: 600px,
  650: 650px,
  700: 700px,
  750: 750px,
);

$width-map: map-merge($width-values, $breakpoint-map);
$min-width-map: map-merge($min-width-values, $breakpoint-map);

@include generate(w, width, $width-map, breakpoints);
@include generate(mw, min-width, $min-width-map);
